<!DOCTYPE html>
<html>
<head>
	<title>Вход в аккаунт</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'testapp/css/styles.css' %}">
</head>
<body>
	<h1>Вход</h1>
	<form>
		<label for="username">Имя пользователя:</label>
		<input type="text" id="username" name="username" required>

		<label for="password">Пароль:</label>
		<input type="password" id="password" name="password" required>

		<input type="submit" value="Войти">
        Нужен аккаунт? <a class="ml-2" href="{% url 'registr' %}">Регистрация</a>
	</form>
</body>
</html>
