<!DOCTYPE html>
<html>
<head>
	<title>Регистрация</title>
	<meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'testapp/css/styles.css' %}">
</head>
<body>
	<h1>Регистрация</h1>
	<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <strong>{{ field }}:</strong> {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
</form>

</body>
</html>