<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
  <title>интерактивные элементы JS</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'testapp/css/styles.css' %}">
</head>
<body>
  <div class="menu">
    <ul>
      <h2>меню:</h2>    
      <li><a href="#forma">Формы</a></li>
      <li><a href="#knopka">Кнопки</a></li>
      <li><a href="#vipad">Выпадающие</br>списки</br></a></li>
      <li><a href="#slid">Слайдеры</a></li>
      <li><a href="#menu">Меню</a></li>
      <li><a href="#animation">Анимация</a></li>
    </ul>
  </div>
  <a href="{% url 'login' %}"><button type="button" style="background-color: rgb(227, 230, 252); color: #dc143c; border-color:#dc143c;">Войти</button></a>
  <h1 class="element">Виды интерактивых элементов</h1>
  <p align="justify"  class="element">
     Существует множество интерактивных элементов, которые могут быть использованы на фронтенд-части веб-приложений. Ниже перечислены некоторые из наиболее распространенных элементов:
  </p>
  <ol class="element">
    <li id="forma">Формы</li>
    <p align="justify">формы позволяют пользователям вводить данные на странице. Формы могут содержать текстовые поля, поля для загрузки файлов, кнопки отправки данных и другие элементы, которые позволяют пользователям взаимодействовать с приложением.
    </p>
    <li id="knopka">Кнопки</li>
    <p align="justify">кнопки могут быть использованы для запуска действий на странице. Например, кнопка "Добавить в корзину" на странице интернет-магазина может запускать процесс добавления товара в корзину.
    </p>
    <li id="vipad">Выпадающие списки</li>
    <p align="justify">выпадающие списки позволяют пользователям выбирать элемент из списка. Например, выпадающий список может использоваться для выбора страны или региона.</p>
    <li id="slid">Слайдеры</li>
    <p align="justify">слайдеры могут быть использованы для выбора значения из диапазона. Например, слайдер может использоваться для выбора количества товаров, которые пользователь хочет добавить в корзину.</p>
    <li id="menu">Меню</li>
    <p align="justify">меню могут быть использованы для навигации по странице. Например, меню может содержать ссылки на различные разделы интернет-магазина.</p>
    <li id="animation">Анимация</li>
            <p align="justify">анимации могут быть использованы для создания эффектов на странице. Например, анимация может быть использована для плавной прокрутки страницы к определенному элементу.</p>
    </ol>
    <p class="element">Это только некоторые из примеров интерактивных элементов, которые могут быть использованы на фронтенд-части веб-приложений. Фронтенд разработчики могут использовать различные элементы для создания удобного и эффективного интерфейса для пользователей.</p>
</body>
</html>